body {
	background-color: #000;
	color: #ff4c4c;
	font-family: arial;
	background-image: url("images/drops.jpg")
}

.container {
	width: 960px;
	margin: 0 auto;

}

.logo {
	border-color: #ff4c4c;
}

.nav_ul {
	color: #ff4c4c;
	list-style-type: none;
	padding: 0;
	font-family: arial;
	background-color: #ff8d00;
}

nav li {
	display: inline;
	padding: 10px;
	font-family: arial;
}

article left{
	width: 460px;
	float; left;
	margin: 10px;
}